@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: violet;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: violet;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('elhamdanihiba.png') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
}

.main h1 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 800;
}

.main h1 span {
    display: inline-block;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    text-align: center;
    color: violet;
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.icone {
    color: #601cfc;
    font-size: 4em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #601cfc;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .icone {
    font-size: 4.5em;
}

.contact .info h3 {
    color: black;
}